body {
    font-family: "Segoe UI", sans-serif;
    background-color: pink;
}

h1,h2 {
    font-family: "Segoe UI", sans-serif;
    

}

ul li {
    list-style-type: 😺;

}

figure img{
    width:300px;
}

.bold{
    font-weight: bold;

}

hr {
    border: None;
    border-top: 5px dotted darkblue;
}

.italic {
    font-style: italic;
}

nav a {
    border: 1px solid darkblue;
    padding: 5px;
    text-decoration: none;
}
nav a:hover {
    background-color: orange;
}
nav a:active {
    background-color: crimson;
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

nav ul li{
    list-style-type: "";

}

